{% extends "base.jinja" %}

{% block title %}Google+ Friends{% endblock %}

{% block content %}
    <p class="lead">Welcome on my awesome homepage. You must be logged in to
        view your friends and their +1'd pages.</p>
    <div id="login">
        <a href="/login" class="btn btn-large btn-block btn-danger">
            <img src="/static/img/gplus.png" />
            Sign In
        </a>
    </div>
{% endblock %}
