<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/custom.css" />
    <title>Google+ Friends</title>
    {% endblock %}
</head>
<body>
<header>
    <div class="container">
        <h1 class="page-header">
            {% block header %}Google+ Friends{% endblock %}
            <span class="pull-right">
                {% block small %}{% endblock %}
            </span>
        </h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <strong>{{ category|capitalize }}!</strong>
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </div>
    <div id="push"></div>
</header>
<footer>
    <div class="container">
    {% block footer %}
        <p class="muted credit">PB138 &ndash; Modern Markup Languages</p>
    {% endblock %}
    </div>
</footer>
</body>
