{% extends "index.html" %}

{% block small %}
    <a href="/logout" class="btn btn-primary">Sign Out</a>
{% endblock %}

{% block content %}
    <p class="lead">Welcome on my awesome homepage. You can view your
        information below.</p>
    <h3>{{ person.name|e }}'s Friends</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>ID</th>
                <th>Profile URL</th>
            </tr>
        </thead>
        <tbody>
            {% for friend in person.friends %}
            <tr>
                <td>{{ friend.name }}</td>
                <td>{{ friend.id }}</td>
                <td><a href="{{ friend.url }}">link</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
