{% if person.people %}
<h3>People and Pages</h3>
<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Type</th>
            <th>Profile URL</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in person.people %}
        <tr>
            <td><a href="/people/{{ entity.id }}">{{ entity.name }}</a></td>
            <td>{{ entity.type }}</td>
            <td><a href="{{ entity.url }}">link</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<h3>Activities</h3>
{% if person.activities %}
<table class="table">
    <thead>
        <tr>
            <th>Publisher</th>
            <th>Date</th>
            <th>Activity URL</th>
        </tr>
    </thead>
    <tbody>
        {% for activity in person.activities %}
        <tr>
            <td>{{ activity.publisher.name }}</td>
            <td>{{ activity.date }}</td>
            <td><a href="{{ activity.url }}">link</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="well">The user doesn't have any public activities.</p>
{% endif %}
