
html,
body {
  height: 100%;
}

header {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -61px;
}

footer {
  background-color: #f3f3f3;
  border-top: 1px solid #e5e5e5;
}

.container {
  width: auto;
  max-width: 680px;
}

.container .credit {
  margin: 20px 0;
}

.page-header {
  color: #555;
  margin-top: 40px;
}

#push,
footer {
  height: 60px;
}

#login a {
  margin-top: 20px;
  padding: 5px 25px 5px 20px;
}

@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
